<%= stylesheet_link_tag 'cart' %>
<div>
  <h1 class="cart-title">Tu Carrito #<%= @cart.id %></h1>

  <% if @cart.cart_products.count > 0 %>
    <div>
      <table class="cart-items">
        <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <% @cart.cart_products.each do |cart_product| %>
          <tr>
            <td><%= cart_product.product.name %></td>
            <td><%= cart_product.quantity %></td>
            <td>$<%= cart_product.product.price %></td>
            <td>$<%= cart_product.total %></td>
            <td>
              <div class="button-container">
                <%= form_with(url: carts_add_path) do |f| %>
                  <%= f.hidden_field :id, value: cart_product.product.id %>
                  <%= f.number_field :quantity, value: cart_product.quantity, min: 0, max: cart_product.product.stock %>
                  <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
                    Agregar al carrito
                  <% end %>
                <% end %>
                <%= form_with(url: carts_remove_path) do |f| %>
                  <%= f.hidden_field :id, value: cart_product.id %>
                  <%= button_tag(type: 'submit', class: 'btn btn-danger') do %>
                    Eliminar Producto del Carrito
                  <% end %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div class="checkout-container">
        <p class="total">Total: <%= @cart.total %></p>
        <button class="btn btn-primary checkout-button" onclick="alert('Checkout')">Checkout</button>
      </div>
    </div>
  <% else %>
    <p>Tu carrito está vacío</p>
  <% end %>
</div>
