<%= stylesheet_link_tag 'product-details' %>
<div class="product-details">
  <div>
    <h1 class="product-name"><%= @product.name %></h1>
    <p class="product-description">Description: <%= @product.description %></p>
    <p class="product-price">Price: $<%= @product.price %></p>
    <p class="product-stock">Stock: <%= @product.stock %></p><br>
  </div>
  <div class="button-container">
    <%= form_with(url: carts_add_path) do |f| %>
      <%= f.hidden_field :id, value: @product.id %>
      <%= f.number_field :quantity, value: 0, min: 1, max: @product.stock, class: "quantity-field" %>
      <%= f.submit "Agregar al Carrito", class: "btn btn-primary add-to-cart-btn" %>
    <% end %>
    <%= link_to "Volver a todos los productos", products_path, class: "btn btn-secondary back-to-products-btn" %>
  </div>
</div>
